#registroButton, #loginButton, #registrarButton, #logButton, #logOffButton, #actualizar, #actualizarButton{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}
#tituloPerfil, #tituloSensores, #tituloNotas{
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}
#descripcion, #actualizadoNotas, #labelHora{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}
#tabpanel{
    -fx-font-weight: bold;
}
#tituloSensores{
    -fx-font-size: 3.3em;
}
#porcentajeTemperatura{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
#porcentajeHumedad{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
#porcentajeRuido{
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}